html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
body {
  padding: 0px;
  /*background-image: url("../SYSTEM/OZADJE.BMP");
  background-repeat: repeat;*/
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(6,6,89,1) 50%, rgba(0,212,255,1) 100%);
}
.vsredina {
  display: flex;
  justify-content: center;
}
table{
  background-color: white;
}
button {
  cursor: pointer;
}